---
title: Home
---

{% assign venue = site.data.venues | where: "Venue name", site.next_event.venue_name | first %}

{% include featured-image.html src="static/img/2018-06-24-diy-healers-flea-vending-1.jpeg" alt="" caption="Vendors line a small corner market, from left to right: <a href='https://SaveOnScents.com/'>Save On Scents</a>, <a href='https://www.etsy.com/shop/ascalchemical'>Asc Alchemical</a>, and <a href='https://www.instagram.com/herbalundergroundnyc/'>Herbal Underground</a>." %}

<div class="h-event vevent">
    <section id="about">
        <h2>What&rsquo;s the DIY-HF?</h2>
        <div class="e-content p-description description">
            <p>The <a class="u-url url" href="{{ "/" | relative_url }}" style="color: inherit; text-decoration: inherit; cursor: inherit;"><dfn class="p-name p-summary summary">DIY Healer&rsquo;s Flea</dfn></a> is an all-ages market that incorporates public education on healing practices using a creative, communal, and self-guided approach.</p>
            <p>It is free to attend, although <a href="{{ "register.html" | relative_url }}">vendors and service providers must first register</a> to reserve space at the event.</p>
            <p>The Flea offers a way for people working in various methods of healing to come together and share their practices with fellow healers as well as the general public.</p>
        </div>
    </section><!-- #about -->

    <section id="next-event">
        <h2>The Next DIY Healer&rsquo;s Flea:</h2>
        <div class="e-content">
            <div id="next-event-banner">
                <p>
                    <abbr title="{{ site.next_event.dt_start | date_to_xmlschema }}" class="dt-start dtstart">{{ site.next_event.dt_start | date: "%A, %B %e %Y" }} from {{ site.next_event.dt_start | date: "%l:%M%P" | strip }}</abbr>&ndash;<abbr title="{{ site.next_event.dt_end | date_to_xmlschema }}" class="dt-end dtend">{{ site.next_event.dt_end | date: "%l:%M%P" | strip }}</abbr>
                    at <abbr class="p-location location" title="{%- include venue-location.txt -%}">{% if venue["Venue website"] %}<a href="{{ venue["Venue website"] }}">{% endif %}{{ venue["Venue name"] }}{% if venue["Venue website"] %}</a>{% endif %}</abbr>{% if venue["Venue map link"] %} (<a href="{{ venue["Venue map link"] }}">map</a>){% endif %}.
                </p>
                {% if venue %}
                <div id="about-the-venue">
                    <h3>About the Venue</h3>
                    {% assign images = site.data.venue_images | where: "Venue name", site.next_event.venue_name | where: "Featured", "TRUE" %}
                    {% include venue-images.html images=images %}
                    <p>{{ venue["Venue description"] | xml_escape | strip }}</p>
                    <p><a href="{{ "venue.html" | relative_url }}">Read more about {{ site.next_event.venue_name }}</a>.</p>
                </div>
                {% endif %}
                {% if site.data.speakers %}
                <table id="presentation-schedule">
                    <caption>{{ site.title  }} Presentation Schedule</caption>
                    {% assign session_number = 1 %}
                    <thead>
                        <tr>
                            <th>
                                Time slot
                            </th>
                            {% assign spaces = site.data.venue_spaces | where: "Venue name", site.next_event.venue_name %}
                            {% assign space_codes = site.data.speakers | map: "Space code" | uniq | sort %}
                            {% for space_code in space_codes %}
                            <th>
                                {% assign space = spaces | where: "Venue space code", space_code | first %}
                                {{ space["Venue space name"] | xml_escape }}
                            </th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% assign time_slots = site.data.speakers | map: "Presentation start" | uniq | sort %}
                        {% for time_slot in time_slots %}
                        <tr>
                            <th>
                                {{ time_slot | date: "%l:%M%P" }}
                            </th>
                            {% assign sessions = site.data.speakers | where: "Presentation start", time_slot %}
                            {% for space_code in space_codes %}
                            <td>
                                {% assign session = sessions | where: "Space code", space_code | first %}
                                {% assign space = spaces | where: "Venue space code", space_code | first %}
                                {% if session %}
                                <div id="speaker-event-{{ session_number }}" class="h-event-container"><div class="h-event vevent">
                                    <img class="hidden p-attach" src="{{ session["Presentation image"] }}" alt="" />
                                    <h3 class="p-name p-summary summary"><a href="#speaker-event-{{ session_number }}">{{ session["Presentation title"] }}</a></h3>
                                    <ul class="hidden">
                                        <li>
                                            From <abbr class="dt-start dtstart" title="{{ site.next_event.dt_start | date: "%Y-%m-%d" }}T{{ session["Presentation start"] | date: "%T%z" }}">{{ session["Presentation start"] | date: "%l:%M%P" | strip }}</abbr>
                                        </li>
                                        {% assign duration_in_seconds = 60 | times: session["Presentation duration (minutes)"] %}
                                        {% assign presentation_end = session["Presentation start"] | date: "%s" | plus: duration_in_seconds %}
                                        <li>
                                            to <abbr class="dt-end dtend" title="{{ site.next_event.dt_start | date: "%Y-%m-%d" }}T{{ presentation_end | date: "%T%z" }}">{{ presentation_end | date: "%l:%M%P" | strip }}</abbr>
                                        </li>
                                        <li>
                                            in space &ldquo;<span class="p-location location">{{ space["Venue space name"] | xml_escape }}</span>.&rdquo;
                                        </li>
                                    </ul>
                                    <div class="hidden p-description description">
                                        <blockquote>
                                            <p>{{ session["Presentation description"] | newline_to_br }}</p>
                                        </blockquote>
                                        <h4>About the presenter</h4>
                                        <p>{{ session["Presenter bio"] | newline_to_br }}</p>
                                    </div>
                                    {% if session["Work website"] %}
                                    <p class="hidden">
                                        <a class="u-url url" href="{{ session["Work website"] }}">Visit {{ session["Preferred name"] }}&rsquo;s website</a>.
                                    </p>
                                    {% endif %}
                                </div><!-- .h-event.vevent --></div><!-- .h-event-container -->
                                {% endif %}
                            </td>
                            {% assign session_number = session_number | plus: 1 %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
                <p>
                    <a href="webcal://h2vx.com/ics/{{ page.url | absolute_url | url_encode }}"><img src="{{ "static/img/icon.calendar.svg" | relative_url }}" alt="Subscribe to {{ site.title }} events" width="20" /></a>
                    <a href="http://h2vx.com/ics/{{ page.url | absolute_url | url_encode }}" title="Save an .ics file of the next event.">Add to Calendar</a>
                </p>
            </div><!-- #next-event-banner -->
            <h3 id="fees-and-pricing">Fees and pricing</h3>
            <p>
                Vendors must pay a non-refundable tabling fee in order to vend.
            </p>
            {% include price-table.html %}
            <p>
                <small>Vendor fees are partially dependent upon the host venue, and are subject to change without notice after each event. Please double-check the fee here before registering!</small>
            </p>
            <p>
                <a href="{{ "register.html#vendor-registration" | relative_url }}">Apply now</a> to reserve your vending space.
            </p>
        </div><!-- .e-content -->
    </section><!-- #next-event -->
</div><!-- .h-event.vevent -->
