---
title: Participants
---

{% include featured-image.html src="static/img/2018-06-24-diy-healers-flea-vending-2.jpeg" alt="" caption="Vendors line a corner market. From left to right: <a href='https://saveonscents.com/'>Save On Scents</a>, <a href='https://www.etsy.com/shop/ascalchemical'>Asc Alchemical</a>." %}

<section id="participants-info">
    <h2>Participants</h2>
    <div class="e-content">
        <h3 id="participating-vendors">Participating Vendors</h3>
        {% if site.data.vendors %}
        <p>
            We are excited to announce the vendor list for the next DIY Healer&rsquo;s Flea! This Healer&rsquo;s Flea will include products in the following categories:
        </p>
        <ul class="category-list">
            {% include featured-categories.html tag="li" %}
            <li>&hellip;and more!</li>
        </ul>
        <p>
            This Healer&rsquo;s Flea will feature the following brands and indie vendors:
        </p>
        <ul>
            {% assign vendors = site.data.vendors | sort: "Your business or brand name" %}
            {% for vendor in vendors %}
            {% assign categories = vendor["Product category"] | split: "," %}
            <li id="vendor-{{ vendor["Email Address"] | sha256 | xml_escape }}" class="h-card vcard {% for category in categories %}category-{{ category | strip | slugify }} {% endfor %}">
                <p>Brand: {% if vendor["Work website"] %}<a class="u-url u-url-work url" href="{{ vendor["Work website"] }}">{% endif %}{% if vendor["Your business or brand name"] %}<span class="org">{{ vendor["Your business or brand name"] | xml_escape }}</span>{% endif %}{% if vendor["Work website"] %}</a>{% endif %}</p>
                <p>Personal: <span class="p-name fn">{{ vendor["Preferred name"] | xml_escape }}</span> {% if vendor["Personal website"] %}(<a class="u-url u-url-home url" href="{{ vendor["Personal website"] }}">Homepage</a>){% endif %}</p>
                <blockquote class="p-note note">
                    <p>{{ vendor["Seller's statement"] | xml_escape | newline_to_br }}</p>
                </blockquote>
                <p>Flagship product: {{ vendor["Flagship product name"] }} {% if vendor["Flagship product Web address"] %}(<a href="{{ vendor["Flagship product Web address"] }}">learn more</a>){% endif %}</p>
                {% if vendor["Facebook"] %}<p>Facebook: <a class="u-url url" href="{{ vendor["Facebook"] }}">{{ vendor["Facebook"] | split: "/" | last }}</a></p>{% endif %}
                {% if vendor["Instagram"] %}<p>Instagram: <a class="u-url url" href="{{ vendor["Instagram"] }}">{{ vendor["Instagram"] | split: "/" | last }}</a></p>{% endif %}
                {% if vendor["Twitter"] %}<p>Twitter: <a class="u-url url" href="{{ vendor["Twitter"] }}">{{ vendor["Twitter"] | split: "/" | last }}</a></p>{% endif %}
                {% if vendor["Tumblr"] %}<p>Tumblr: <a class="u-url url" href="{{ vendor["Tumblr"] }}">{{ vendor["Tumblr"] | split: "/" | last }}</a></p>{% endif %}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>
            Vendors for the next DIY-HF have not yet been announced. <a href="{{ "register.html#vendor-registration" | relative_url }}">Apply now to reserve your vending space</a>, and check back soon to view the participating vendor list.
        </p>
        {% endif %}
        <h3 id="participating-speakers">Participating Speakers</h3>
        {% if site.data.speakers %}
        <p>
            We are excited to announce the <a href="{{ "/#presentation-schedule" | relative_url }}">presentation schedule</a> for the next DIY Healer&rsquo;s Flea! We have a great line-up for this Healer&rsquo;s Flea, featuring:
        </p>
        <ul id="participating-speakers-list">
            {% assign speakers = site.data.speakers | sort: "Presentation start" %}
            {% for speaker in speakers %}
            <li id="speaker-{{ speaker["Email Address"] | sha256 }}" class="h-card vcard">
                {% if speaker["Presentation image"] %}<img class="u-photo photo" src="{{ speaker["Presentation image"] }}" alt="" />{% endif %}
                <h4>{{ speaker["Presentation title"] | xml_escape }}</h4>
                <blockquote>
                    <p>{{ speaker["Presentation description"] | xml_escape | newline_to_br }}</p>
                </blockquote>
                <p class="p-note note">{{ speaker["Presenter bio"] | xml_escape | newline_to_br }}</p>
                <ul>
                    <li>
                        Presenter: <span class="p-name fn">{% if speaker["Work website"] %}<a class="u-url url" href="{{ speaker["Work website"] }}">{% endif %}{{ speaker["Preferred name"] | xml_escape }}{% if speaker["Work website"] %}</a>{% endif %}</span>
                    </li>
                    <li>
                        Schedule: At {{ speaker["Presentation start"] | date: "%l:%M%P" }} in Space {{ speaker["Space code"] | xml_escape }}
                    </li>
                    {% assign categories = speaker["Presentation category"] | split: "," %}
                    {% if categories %}
                    <li>
                        Categories:
                        <ul>
                        {% for category in categories %}
                            <li class="p-category category">{{ category | xml_escape | strip }}</li>
                        {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>
            Speakers for the next DIY-HF have not yet been announced. <a href="{{ "register.html#speaker-registration" | relative_url }}">Apply now to reserve your speaker time slot</a>, and check back soon to view the participating speaker list.
        </p>
        {% endif %}
        {% if site.data.vendors or site.data.speakers %}
        <p style="text-align: center;">
            <a href="http://h2vx.com/ics/{{ page.url | absolute_url | cgi_escape }}">
                <img src="{{ "static/img/icon.address-book.png" | relative_url }}" alt="" width="20" />
                Save participant data to your address book.
            </a>
        </p>
        {% endif %}
    </div><!-- .e-content -->
</section>
