---
title: Participants
---

{% include featured-image.html src="static/img/2018-06-24-diy-healers-flea-vending-2.jpeg" alt="" caption="Vendors line a corner market. From left to right: <a href='https://saveonscents.com/'>Save On Scents</a>, <a href='https://www.etsy.com/shop/ascalchemical'>Asc Alchemical</a>." %}

<section id="participants-info">
    <h2>Participants</h2>
    <div class="e-content">
        {% if site.data.participants %}
        <p>We are excited to announce the participants of the next DIY Healer&rsquo;s Flea! This Healer&rsquo;s Flea will include products in the following categories:</p>
        <ul class="category-list">
            {% include featured-categories.html tag="li" %}
            <li>&hellip;and more!</li>
        </ul>
        <p>This Healer&rsquo;s Flea will feature the following brands and indie vendors:</p>
        <ul>
            {% assign participants = site.data.participants | sort: "Your business or brand name" %}
            {% for participant in participants %}
            {% assign categories = participant["Product category"] | split: "," %}
            <li class="{% for category in categories %}category-{{ category | strip | slugify }} {% endfor %}">
                <p>Brand: {% if participant["Work website"] %}<a href="{{ participant["Work website"] }}">{% endif %}{% if participant["Your business or brand name"] %}{{ participant["Your business or brand name"] }}{% endif %}{% if participant["Your business or brand name"] %}</a>{% endif %}</p>
                <p>Personal: {{ participant["Preferred name"] }} {% if participant["Personal website"] %}(<a href="{{ participant["Personal website"] }}">Homepage</a>){% endif %}</p>
                <blockquote><p>{{ participant["Seller's statement"] }}</p></blockquote>
                <p>Flagship product: {{ participant["Flagship product name"] }} {% if participant["Flagship product Web address"] %}(<a href="{{ participant["Flagship product Web address"] }}">learn more</a>){% endif %}</p>
                {% if participant["Facebook"] %}<p>Facebook: <a href="{{ participant["Facebook"] }}">{{ participant["Facebook"] | split: "/" | last }}</a></p>{% endif %}
                {% if participant["Instagram"] %}<p>Instagram: <a href="{{ participant["Instagram"] }}">{{ participant["Instagram"] | split: "/" | last }}</a></p>{% endif %}
                {% if participant["Twitter"] %}<p>Twitter: <a href="{{ participant["Twitter"] }}">{{ participant["Twitter"] | split: "/" | last }}</a></p>{% endif %}
                {% if participant["Tumblr"] %}<p>Tumblr: <a href="{{ participant["Tumblr"] }}">{{ participant["Tumblr"] | split: "/" | last }}</a></p>{% endif %}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Participants for the next DIY-HF have not yet been announced. <a href="register.html">Apply now</a> to reserve your space, and check back soon to view the approved participant list.</p>
        {% endif %}
    </div>
</section>
