---
title: Press Kit
---

{% assign venue = site.data.venues | where: "Venue name", site.next_event.venue_name | first %}

<section id="press-kit">
    <h2>Press Kit</h2>
    <ol>
        <li><a href="#the-next-event">The Next Event</a></li>
        <li><a href="#social-media-banners">Social Media Banners</a></li>
        <li><a href="#event-descriptions">Event Descriptions</a></li>
        <li><a href="#printable-flyers">Printable Flyers</a></li>
    </ol>
    <div class="e-content">
        <p>We&rsquo;ve prepared the following materials to make it easy for you to promote the next  DIY Healer&rsquo;s Flea. Whether you&rsquo;re a venue, a vendor, or a speaker, please use the images and other media on this page to share the DIY Healer&rsquo;s Flea with your friends and neighbors.</p>
        <h3 id="the-next-event">The next DIY Healer&rsquo;s Flea will be:</h3>
        <ul style="list-style: disc; margin: 0 0 0 1em;">
            <li>
                <p>
                    When: {{ site.next_event.dt_start | date: "%A, %B %e %Y %l:%M%P" }}&ndash;{{ site.next_event.dt_end | date: "%l:%M%P" | strip }}
                </p>
            </li>
            <li>
                <p>
                    Where: {{ venue["Venue name"] | xml_escape }} ({%- include venue-location.txt -%})
                </p>
            </li>
        </ul>
        <h3 id="social-media-banners">Social Media Banners</h3>
        <p>Use these banners in your social media postings and event listings:</p>
        <ul>
            <li>
                <figure>
                    <figcaption>
                        Facebook event banner (1200 pixels wide by 628 pixels high) (<a href="{{ "static/img/promo.banner.facebook.event.1200x628.green.xcf" | relative_url }}">.<abbr title="Experimental Computing Facility">xcf</abbr></a>)
                    </figcaption>
                    <img src="{{ "static/img/promo.banner.facebook.event.1200x628.green.png" | relative_url }}" alt="The DIY Healer&rsquo;s Flea" style="width: 100%;">
                </figure>
            </li>
            <li>
                <figure>
                    <figcaption>
                        Instagram post (1080 pixels wide by 1080 pixels high) (<a href="{{ "static/img/promo.banner.instagram.post.1080x1080.green.xcf" | relative_url }}">.<abbr title="Experimental Computing Facility">xcf</abbr></a>)
                    </figcaption>
                    <img src="{{ "static/img/promo.banner.instagram.post.1080x1080.green.png" | relative_url }}" alt="The DIY Healer&rsquo;s Flea" style="width: 100%;">
                </figure>
            </li>
        </ul>
        <h3 id="event-descriptions">Event Descriptions</h3>
        <p>Copy these texts for event descriptions, tweets, and other places where you&rsquo;d like to promote the next DIY Healer&rsquo;s Flea.</p>
        <h4 id="twitter-click-to-tweet">Twitter (click to tweet)</h4>
        <ul>
            <li>
                <p>
                    <a href="https://twitter.com/intent/tweet?text=The+next+DIY+Healer%27s+Flea+is+coming+up%21+{{ site.url | absolute_url | cgi_escape }}%2F+Do-it-yourself%2C+together.">The next DIY Healer&rsquo;s Flea is coming up {{ site.url | absolute_url }} Do-it-yourself, together.</a>
                </p>
            </li>
            <li>
                <p>
                    <a href="https://twitter.com/intent/tweet?text=Getting+excited+for+the+next+DIY+Healer%27s+Flea+on+{{ site.next_event.dt_start | date: "%B %e" | cgi_escape }}%2C+{{ site.next_event.dt_start | date: "%l:%M%P" | cgi_escape }}{% if venue["Venue Twitter"] %}+%40{{ venue["Venue Twitter"] | replace: "https://twitter.com/", "" | cgi_escape }}{% endif %}%21+{{ site.url | absolute_url | cgi_escape }}">Getting excited for the next DIY Healer&rsquo;s Flea on {{ site.next_event.dt_start | date: "%B %e" }}, {{ site.next_event.dt_start | date: "%l:%M%P" }}{% if venue["Venue Twitter"] %} @{{ venue["Venue Twitter"] | replace: "https://twitter.com/", "" }}{% endif %}! {{ site.url | absolute_url }}</a>
                </p>
            </li>
        </ul>
        <h4 id="facebook-copy-and-paste">Facebook (copy and paste)</h4>
        <p>DIY stands for Do-It-Yourself, but that doesn&rsquo;t mean you have to be by yourself.</p>
        <p>{{ site.url | absolute_url }}</p>
        <p>The DIY Healer&rsquo;s Flea is an all-ages, no cover market that incorporates public education on healing practices using a creative, communal, and self-guided approach. The Flea offers a way for people working in various methods of healing to come together and share their practices with fellow healers as well as the general public. A curated selection of talented local vendors and makers sell their wares at the market alongside free talks and workshops run by invited experts, speakers, and healers. Each Flea is a unique experience that strengthens local ties and disseminates invaluable knowledge throughout the community.</p>
        {% if site.data.vendors %}
        <p>This DIY Healer&rsquo;s Flea features {% include featured-categories.html tag="span" after=", " %} and more from the following vendors:</p>
        <p>
            {% assign vendors = site.data.vendors | sort: "Your business or brand name" %}
            {% for vendor in vendors %}
            {{ vendor["Your business or brand name"] | strip | xml_escape }}{% if vendor["Work website"] %} - {{ vendor["Work website"] | strip | xml_escape }}{% endif %}<br />
            {% endfor %}
        </p>
        {% endif %}
        {% if site.data.speakers %}
        <p>We are excited to present this Flea&rsquo;s speaker schedule! Don&rsquo;t miss these talks and workshops:</p>
        <p>
            {% assign speakers = site.data.speakers | sort: "Presentation start" %}
            {% for speaker in speakers %}
            &bull; &ldquo;{{ speaker["Presentation title"] | strip | xml_escape }}&rdquo; by {{ speaker["Preferred name"] | strip | xml_escape }}{% if speaker["Work website"] %} - {{ speaker["Work website"] | strip | xml_escape }}{% endif %}<br />
            {% endfor %}
        </p>
        {% endif %}
        <p>
            For more information including a full schedule, or if you&rsquo;re interested in registering as a vendor, speaker, or healer, visit:<br />
            {{ site.url | absolute_url }}
        </p>
        <h3 id="printable-flyers">Printable Flyers</h3>
        <p>The following list links to pages that are designed to be printed. Load the page in your Web browser by following the links below, then print the page. We particularly encourage participants in the DIY Healer&rsquo;s Flea such as <a href="{{ "register.html" | relative_url | append: "#vendor-registration" }}">registered vendors</a> and <a href="{{ "register.html" | relative_url | append: "#speaker-registration" }}">speakers</a> to print and post these flyers around their neighborhood to help ensure a successful event:</p>
        {% include flyer-list.html %}
    </div>
</section>
