---
title: About the Venue
---

{% assign venue = site.data.venues | where: "name", site.next_event.venue_name | first %}

<section id="venue-info">
    <h2>About {{ site.next_event.venue_name }}</h2>
    {% include venue-images.html images=venue.images %}
    {{ venue.long_desc }}
    {% if venue.link %}<p><a href="{{ venue.link }}">Visit {{ venue.name }}&rsquo;s website.</a></p>{% endif %}
    <p>The application deadline to reserve your space for our next event on {{ site.next_event.dt_start | date: "%A, %B %e %Y" }} closes on {{ site.next_event.applications_close | date: "%B %e, %Y %l:%M %p" }}. <a href="{{ "register.html" | relative_url }}">Apply now</a>!</p>
</section>
