<li id="speaker-{{ speaker["Email Address"] | sha256 }}" class="h-card vcard">
    {% if speaker["Presentation image"] %}<img class="u-photo photo" src="{{ speaker["Presentation image"] }}" alt="" />{% endif %}
    <h4>{{ speaker["Presentation title"] | xml_escape }}</h4>
    <blockquote>
        <p>{{ speaker["Presentation description"] | strip | xml_escape | newline_to_br }}</p>
    </blockquote>
    <p class="p-note note">{{ speaker["Presenter bio"] | strip | xml_escape | newline_to_br }}</p>
    <ul>
        <li>
            Presenter: <span class="p-name fn">{% if speaker["Work website"] %}<a class="u-url url" href="{{ speaker["Work website"] }}">{% endif %}{{ speaker["Preferred name"] | xml_escape }}{% if speaker["Work website"] %}</a>{% endif %}</span>
        </li>
        {% assign space = spaces | where: "Venue space code", speaker["Space code"] | first %}
        <li>
            Schedule: At {{ speaker["Presentation start"] | date: "%l:%M%P" }} in space &ldquo;{{ space["Venue space name"] | xml_escape }}&rdquo;
        </li>
        {% assign categories = speaker["Presentation category"] | split: "," %}
        {% if categories %}
        <li>
            Presentation topics:
            <ul>
            {% for category in categories %}
                <li class="p-category category">{{ category | xml_escape | strip }}</li>
            {% endfor %}
            </ul>
        </li>
        {% endif %}
    </ul>
</li>
