{% if include.images %}
<ul class="venue-images">
    {% for image in include.images %}
    <li>
        <figure id="venue-image-{{ image["Filename"] | split: "/" | last | slugify }}">
            <a href="#{{ image["Filename"] | split: "/" | last | slugify | prepend: "venue-image-" }}">
                <img src="{{ image["Filename"] | prepend: "static/img/" | relative_url }}" alt="{{ image["Alt"] }}" />
            </a>
            {% if image["Caption"] %}<figcaption>{{ image["Caption"] }}</figcaption>{% endif %}
        </figure>
    </li>
    {% endfor %}
</ul>
{% endif %}
