/**
* @group Typography.
*/
@font-face {
    font-family: "Everson Mono Latin";
    src: url("../fonts/everson_mono_latin/EMLATIN6.ttf");
}
@font-face {
    font-family: "BebasNeue";
    src: url("../fonts/BebasNeue.ttf");
}
@font-face {
    font-family: "CocoGothic Ultralight";
    src: url("../fonts/CocoGothic/CocoGothic-UltraLight_trial.ttf");
}
body {
    background-color: #f8f7f4;
    color: #000;
    font-family: "Everson Mono Latin";
}
h1 {
    position: relative;
    top: -11px;
    margin: 0;
    padding: 0;
    font: 80px/1em "BebasNeue", Arial;
}
h2 {
    font: bold 27px "CocoGothic Ultralight";
    margin: 0;
    padding: 0;
}
p {
    line-height: 1.25em;
}
#PageFooter {
    font-size: xx-small;
}
abbr {
    cursor: help;
}

/**
 * @group Layout
 */
html, body {
    margin: 0;
    border: 0;
    padding: 0;
}
body {
    margin-top: 3em;
    padding: 0 20px;
}
main {
    margin: 2em 0;
}
section {
    margin-top: 2em;
}
#PageFooter {
    text-align: center;
}

@media screen and (min-width: 690px) {
    body {
        padding: 0 120px;
    }
    #Masthead {
        position: fixed;
        width: 380px;
        text-align: right;
    }
    #Masthead h1 {
        font-size: 120px;
    }
    main {
        margin-left: 460px;
    }
}

/**
 * @group Links
 */
a, a:hover {
    color: #ed5c0d;
    text-decoration-color: #17ccb2;
}
a:hover {
    text-decoration: overline;
    text-decoration-color: #17ccb2;
}
#Masthead a {
    color: #000;
    text-decoration-color: #17ccb2;
}

/**
 * @group Main navigation.
 */
#MainNav ul {
    margin: 1em 0 0 0;
    padding: 0;
}
#MainNav li {
    display: inline-block;
    list-style: none;
    margin: 0 5px .25em;
    font: 26px/1em "BebasNeue", Arial;
}
#MainNav a {
    text-decoration-color: #53e8de;
}
