/**
* @group Typography.
*/
@font-face {
    font-family: "BebasNeue";
    src: url("../fonts/BebasNeue.ttf");
}
@font-face {
    font-family: "SoftLine";
    src: url("../fonts/SoftLine.otf");
}
h1 {
    margin: 0;
    padding: 0;
    font: 80px/1em "BebasNeue", Arial;
}
h2 {
    font: 32px/1em "SoftLine", Arial;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
p {
    line-height: 1.25em;
}
#PageFooter {
    font-size: xx-small;
}
abbr {
    cursor: help;
}

/**
 * @group Layout
 */
html, body {
    margin: 0;
    border: 0;
    padding: 0;
}
body {
    padding: 0 20px;
    background-color: #f9f9f9;
    color: #000;
}
#Masthead {
    padding-top: 2em;
    text-align: center;
}
main {
    margin: 2em 0;
}
section {
    margin-top: 3em;
}
.e-content {
    width: 95%;
    margin: auto;
    font: 15px "SoftLine", Arial;
    font-weight: bold;
}
#PageFooter {
    text-align: center;
}

/**
 * @group Links
 */
a, a:hover {
    color: #000;
    text-decoration-color: #f7626f;
}
a:hover {
    text-decoration: overline;
    text-decoration-color: #f7626f;
}
#Masthead h1 a {
    text-decoration-color: #ddd41c;
}

/**
 * @group Main navigation.
 */
#MainNav ul {
    margin: 1em 0 0 0;
    padding: 0;
    text-align: center;
}
#MainNav li {
    display: inline-block;
    list-style: none;
    margin: 0 5px .25em;
    font: 26px/1em "BebasNeue", Arial;
}
#MainNav a {
    text-decoration-color: #53e8de;
}
