<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{%if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{{ "static/css/main.css" | relative_url }}" />

        <meta property="og:url" content="{{ site.url | absolute_url }}" />
        <meta property="og:type" content="website" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:title" content="{{ site.title }}" />
        <meta property="og:description" content="The DIY Healer&rsquo;s Flea is an all-ages market that incorporates public education on healing practices using a creative, communal, and self-guided approach." />
        <meta property="og:image" content="{{ "static/img/promo.share.facebook.preview.1200x630.green.png" | absolute_url }}" />

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="{{ site.title }}" />
        <meta name="twitter:description" content="The DIY Healer&rsquo;s Flea is an all-ages market that incorporates public education on healing practices using a creative, communal, and self-guided approach." />
        <meta name="twitter:image" content="{{ "static/img/promo.banner.instagram.post.1080x1080.green.png" | absolute_url }}" />

    </head>
    <body id="{{ page.title | slugify }}-page">

        <header id="Masthead">
            <h1><a href="{{ "/" | relative_url }}">The DIY<br />Healer&rsquo;s<br />Flea</a></h1>
            <p><abbr title="Do-It-Yourself">DIY</abbr> stands for Do-It-Yourself, but that doesn't mean you have to <em>be by</em> yourself.</p>
            <nav id="MainNav">
                {% include mainnav.html %}
            </nav>
        </header>

        <main>
            {{ content }}
        </main>

        <footer id="PageFooter">
            <p>Copyright &copy; is for suckers.</p>
        </footer>

        <script src="{{ "static/js/main.js" | relative_url }}"></script>
    </body>
</html>
