<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
    </head>
    <body id="{{ page.title | slugify }}-page">

        <header id="Masthead">
            {% include site-branding.html %}
            <nav id="MainNav">
                {% include mainnav.html %}
            </nav>
        </header>

        <main>
            {{ content }}
        </main>

        <footer id="PageFooter">
            <p>{{ site.title }} is produced with &hearts; by <a href="https://floraposidonia.xyz/">Flora Posidonia, your friendly neighborhood herbalist</a>. Copyright &copy; is for suckers.</p>
        </footer>

        <script src="{{ "static/js/main.js" | relative_url }}"></script>
    </body>
</html>
